<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="index">
        <header>Semi Project</header>
        <nav>
            <ul>
                <li>Menu1</li>
                <li>Menu2</li>
                <li>Menu3</li>
                <li>게시판</li>
            </ul>
        </nav>
        <section></section>
        <footer></footer>
    </div>    
</body>
</html>