<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
</head>
<body>
    <div>
        <div id="board">
            <link rel="stylesheet" href="/css/board.css">
            <script type="module">
                import { list , loadUrl } from "./js/board.js"
                 let ls= list();
                window.ls = ls;
                </script>
            <div class="search">
                <button type="button" class="btnRegister">작성</button>
                <input type="text" class="findStr">
                <button type="button" class="btnSearch">검색</button>
            </div>
            <div class="item_list">
                <div class="items" onclick = "ls.view(600)">
                    <img class='img' src="https://placehold.co/150x200">
                    <div class="item">
                        <span>NO</span><br/>
                        <span>작성자</span><br/>
                        <span>제목</span><br/>
                        <span>작성일</span><br/>
                        <span>조회수</span><br/>
                    </div>
                </div>

                <div class="items">
                    <img class='img' src="https://placehold.co/150x200">
                    <div class="item">
                        <span>NO</span><br/>
                        <span>작성자</span><br/>
                        <span>제목</span><br/>
                        <span>작성일</span><br/>
                        <span>조회수</span><br/>
                    </div>
                </div>

                <div class="items">
                    <img class='img' src="https://placehold.co/150x200">
                    <div class="item">
                        <span>NO</span><br/>
                        <span>작성자</span><br/>
                        <span>제목</span><br/>
                        <span>작성일</span><br/>
                        <span>조회수</span><br/>
                    </div>
                </div>

                <div class="items">
                    <img class='img' src="https://placehold.co/150x200">
                    <div class="item">
                        <span>NO</span><br/>
                        <span>작성자</span><br/>
                        <span>제목</span><br/>
                        <span>작성일</span><br/>
                        <span>조회수</span><br/>
                    </div>
                </div>
            </div>
            <button type="button" class="btnPrev">이전</button>
            <button type="button" class="btnNext">다음</button>
        </div>
    </div>
</body>
</html>