<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
</head>
<body>
    <div>
        <div id="board">
            <link rel="stylesheet" href="/css/board.css">

            <script type="module">
                import { list } from "./js/board.js"
                let ls= list();
                window.ls = ls; // 전역형으로 만들어줌.
            </script>

            <div class="search">
                <button type="button" class="btnRegister">작성</button>
                <input type="text" class="findStr" >
                <button type="button" class="btnSearch">검색</button>
            </div>
            <div class="item_list">
                <div class="item_title">
                    <span class="no">SNO</span>
                    <span class="id">작성자</span>
                    <span class="subject">제목</span>
                    <span class="nal">작성일</span>
                    <spanc class="hit">조회수</span>
                </div>

                <div class="items" th:onclick = "ls.view([[${vo.sno}]])" th:each="vo : ${map.list}">
                    <div class="item">
                        <span class="no">[[${vo.sno}]]</span>
                        <span class="id">[[${vo.id}]]</span>
                        <span class="subject" th:utext = "${vo.subject}"></span>
                        <span class="nal">[[${vo.nal}]]</span>
                        <span class="hit">[[${vo.hit}]]</span>
                    </div>
                </div>
            </div>
            <div class="btnZone">
                <button type="button" class="btnPrev" th:class="${(page.nowPage>1)? 'btnPrev btnEnabled' : 'btnPrev btnDisabled' }">이전</button>
                <button type="button" class="btnNext" th:class="${ (page.totSize > page.endNo)  ? 'btnNext btnEnabled' : 'btnNext btnDisabled' }">다음</button>
            </div>
                
        </div>
    </div>
</body>
</html>