<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board register</title>
</head>
<body>
    <div>
        <div id="board">
            <link rel="stylesheet" href="/css/board.css">
            <script type="module">
                import { update } from "./js/board.js";
                update();
            </script>         
            <div class="register">
                <form name="frmBoard" method="POST" enctype="multipart/form-data">
                    <label>아이디</label>
                    <input type="text" name="id" th:value="${vo.id}"><br/>
                    <label>제목 </label>
                    <input type="text" name="subject" th:value="${vo.subject}"><br/>
                    <textarea name="doc" class="doc">[[${vo.doc}]]</textarea><br/>
                    <label>파일첨부</label>
                    <input type="file" name="files" class="btnAtt" multiple><br/>
                    <fieldset>
                        <legend>이미 첨부됨</legend>
                        <th:block th:each="att : ${attFiles}">
                            <label><input type="checkbox" name="delFiles"  th:value="${att.sysFile}" >[[${att.oriFile}]]</label><br/>
                        </th:block>
                    </fieldset>
                    <div class="btnZone">
                        <button type="button" class="btnUpdateR">수정</button>
                        <button type="button" class="btnList">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>