<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board register</title>
</head>
<body>
    <div>
        <div id="board">
            <link rel="stylesheet" href="/css/board.css">
            <script type="module">
                import { view } from "./js/board.js";
                view();
            </script> 

            <div class="register">
                <form name="frmBoard" method="POST" enctype="multipart/form-data">
                    <label>아이디</label>
                    <span>[[${vo.id}]]</span><br/>
                    <label>제목 </label>
                    <span>[[${vo.subject}]]</span><br/>
                    <div class="doc">
                        [[${vo.doc}]]
                    </div><br/>

                    <fieldset>
                        <legend>첨부파일</legend>
                        <ul >
                            <li th:each="att : ${attFiles}">
                                <a th:href="|upload/${att.sysFile}|" th:download="${att.sysFile}" >[[${att.oriFile}]]</a>
                            </li>
                        </ul>
                    </fieldset>

                    <button type="button" class="btnUpdate">수정</button>
                    <button type="button" class="btnDeleteR">삭제</button>
                    <button type="button" class="btnRepl">댓글</button>
                    <button type="button" class="btnList">취소</button>

                    <input type="hidden" name="sno" th:value="${vo.sno}"/>
                    <input type="hidden" name="grp" th:value="${vo.grp}"/>
                    <input type="hidden" name="seq" th:value="${vo.seq}"/>
                    <input type="hidden" name="deep" th:value="${vo.deep}"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>